// $primary-color : blue;
// $max-width:50%;
// $min_padding :20px;
$primary-color:#2d529f;
$secondry-color:#008fe2;
$gray-color: #777;
$dark-color:#242424;
$light-color:#ffffff;
$main-font:sans-serif;
