.card{
    display: flex;
    width: 30%;
    &__img{
        margin-right: 38px;


    }
    &__text{
        h3{
            color:$secondry-color;
            margin-bottom: 15px;

        }
        p{
            color:$gray-color;
        }

    }
}




